<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet"/>
    <title>Project Big Data</title>
</head>
<body>
<header class="menu">
    <img class="menu__logo" src="../static/img/logo.png" alt="logo">
    <nav class="menu__navigation">
        <ul class="menu__navigation__link">
            <li class="menu__link ">
                <a href="/" class="menu__link__line">About</a>
                <div class="menu__line"></div>
            </li>
            <li class="menu__link ">
                <a href="/project" class="menu__link__line">Project</a>
                <div class="menu__line"></div>
            </li>
            <li class="menu__link ">
                <a href="/results" class="menu__link__line">Results</a>
                <div class="menu__line"></div>
            </li>
        </ul>
    </nav>
</header>
<section class="main-section">
    <h2 class="section-title">
        <span class="section-title-prefix">Project Big Data</span>
        <p class="section-title-body">About this project</p>
    </h2>
    <h3 class="text team-credo">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt rem
        aperiam laboriosam, nesciunt explicabo, quod ea doloremque vitae
        alias necessitatibus repellendus dolor cum rerum a eius deserunt!
        Tenetur numquam modi, dolor deserunt incidunt nihil consequuntur
        atque?
    </h3>
</section>
<section class="main-section">
    <h2 class="section-title">
        <span class="section-title-prefix">who we are</span>
        <span class="section-title-body">our team</span>
    </h2>
</section>
<section class="team">
    <h3 class="text team-credo">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt rem
        aperiam laboriosam, nesciunt explicabo, quod ea doloremque vitae
        alias necessitatibus repellendus dolor cum rerum a eius deserunt!
        Tenetur numquam modi, dolor deserunt incidunt nihil consequuntur
        atque?
    </h3>
    <div class="team-gallery">
        <div class="team-gallery-item">
            <div class="team-member-wrapper">
                <div class="team-member">
                    <img
                            class="team-member-img"
                            src="../static/img/photo_2021-05-16_00-20-06.jpg"
                            alt="team"/>
                </div>
            </div>
            <h4 class="team-member-title">
                <span class="team-member-name">Dmitro Koltsov</span>
                <span class="team-member-activity">Python Developer</span>
            </h4>
        </div>
        <div class="team-gallery-item">
            <div class="team-member-wrapper">
                <div class="team-member">
                    <img
                            class="team-member-img"
                            src="../static/img/photo_2020-09-21_11-23-30.jpg"
                            alt="team"
                    />
                </div>
            </div>
            <h4 class="team-member-title">
                <span class="team-member-name">Trishyna Anna</span>
                <span class="team-member-activity">Frontend developer</span>
            </h4>
        </div>
        <div class="team-gallery-item">
            <div class="team-member-wrapper">
                <div class="team-member">
                    <img
                            class="team-member-img"
                            src="../static/img/photo_2019-12-13_16-57-27.jpg"
                            alt="team"
                    />

                </div>
            </div>
            <h4 class="team-member-title">
                <span class="team-member-name">Josep Korin</span>
                <span class="team-member-activity">Date Analyst</span>
            </h4>
        </div>
        <div class="team-gallery-item">
            <div class="team-member-wrapper">
                <div class="team-member">
                    <img
                            class="team-member-img"
                            src="../static/img/photo_2021-05-16_01-03-48.jpg"
                            alt="team"
                    />

                </div>
            </div>
            <h4 class="team-member-title">
                <span class="team-member-name">Vlad Kanevskiy</span>
                <span class="team-member-activity">Date Analyst</span>
            </h4>
        </div>
        <div class="team-gallery-item">
            <div class="team-member-wrapper">
                <div class="team-member">
                    <img
                            class="team-member-img"
                            src="../static/img/photo_2019-07-29_15-28-22.jpg"
                            alt="team"
                    />

                </div>
            </div>
            <h4 class="team-member-title">
                <span class="team-member-name">Oleksandr Hrydko</span>
                <span class="team-member-activity">Android developer</span>
            </h4>
        </div>
    </div>
</section>

<footer class="footer">
    <p>&copy; 2021 KPI FPM </p>
</footer>
</body>
</html>
