<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/css/style.css">
    <title>Project</title>
</head>
<body>
<header class="menu">
    <img class="menu__logo" src="../static/img/logo.png" alt="logo">
    <nav class="menu__navigation">
        <ul class="menu__navigation__link">
            <li class="menu__link ">
                <a href="/" class="menu__link__line">About</a>
                <div class="menu__line"></div>
            </li>
            <li class="menu__link ">
                <a href="/project" class="menu__link__line">Project</a>
                <div class="menu__line"></div>
            </li>
            <li class="menu__link ">
                <a href="/results" class="menu__link__line">Results</a>
                <div class="menu__line"></div>
            </li>
        </ul>
    </nav>
</header>
<section class="main-section">
    <h2 class="section-title">
        <span class="section-title-prefix">we work with</span>
        <span class="section-title-body">amazing services</span>
    </h2>
    <div class="services">
        <div class="service-wrapper">
            <img class="service-img" src="../static/img/icons/hadoop.png" alt="hadoop">
            <div class="service">
                <h3 class="service-title">hadoop</h3>
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere,
                    tenetur!
                </p>
            </div>
        </div>
        <div class="service-wrapper">
            <img class="service-img" src="../static/img/icons/pngegg%20(2).png" alt="hadoop">
            <div class="service">
                <h3 class="service-title">hive</h3>
                <p class="text">
                    Quod optio dolore assumenda ad dignissimos eveniet facere
                    voluptas nam?
                </p>
            </div>
        </div>
        <div class="service-wrapper">
            <img class="service-img" src="../static/img/icons/boto3.png" alt="boto3">
            <div class="service">
                <h3 class="service-title">boto3</h3>
                <p class="text">
                    Vitae nesciunt, quod sit ea repudiandae maiores dolore eligendi
                    nulla?
                </p>
            </div>
        </div>
        <div class="service-wrapper">
            <img class="service-img" src="../static/img/icons/emr.png" alt="emr">
            <div class="service">
                <h3 class="service-title">emr</h3>
                <p class="text">
                    Delectus cumque iusto aliquam ratione dolorem quidem beatae
                    obcaecati perspiciatis!
                </p>
            </div>
        </div>
        <div class="service-wrapper">
            <img class="service-img" src="../static/img/icons/klipartz.com%20(3).png" alt="spark">
            <div class="service">
                <h3 class="service-title">spark</h3>
                <p class="text">
                    Maxime amet dolores dolorum numquam? Earum voluptates rem modi
                    iusto.
                </p>
            </div>
        </div>
        <div class="service-wrapper">
            <img class="service-img" src="../static/img/icons/s3.png" alt="s3">
            <article class="service">
                <h3 class="service-title">s3</h3>
                <p class="text">
                    Magni, quam quis dolores aperiam laudantium dolor. Possimus,
                    quidem ab!
                </p>
            </article>
        </div>
    </div>
</section>
<section class="main-section">
    <h2 class="section-title">
        <span class="section-title-prefix">you can use</span>
        <span class="section-title-body">the program we created</span>
    </h2>
    <!--<section class="main-form">-->
    <!--    <div class="container">-->
    <!--        <form class="form">-->
    <!--            <div class="file-upload-wrapper" id = "sysStatus" data-text="{{status}}">-->
    <!--                <input name="file-upload-field" type="file" class="file-upload-field" value="">-->
    <!--            </div>-->
    <!--        </form>-->
    <!--    </div>-->
    <!--</section>-->
</section>
<!--<section class="main-form">-->
<!--&lt;!&ndash;    <H1 id="sysStatus">{{status}}</H1>&ndash;&gt;-->
<!--    <form class="form-upload" method="POST" action="/project" enctype=multipart/form-data>-->


<!--        <div class="formRow">-->
<!--            <label for="url" class="file-label"></label>-->
<!--            <input type="file" id="form_input" name="file" multiple placeholder="Введите что-нибудь!">-->
<!--        </div>-->

<!--        <div class="form-sub">-->
<!--            <input type="button" id="form_button" name="_submit" value="Submit">-->
<!--        </div>-->

<!--    </form>-->
<!--</section>-->
<!--**************************************************-->

<section class="main-form">
    <!--    **************************STATUS******************-->
    <h3 id="sysStatus" class="form-headline">{{status}}</h3>
    <form class="form-upload" method="POST" action="/project" enctype=multipart/form-data>
        <div class="formRow">
            <input type="file" class="form-upload__input"  name="files" id="upload-file" multiple placeholder="jklkjhgvb">
            <label for="upload-file" class="file-label" ></label>
        </div>
        <div class="form-sub">
            <input type="button" id="form_button" name="_submit" value="Submit">
        </div>
    </form>
</section>
<footer class="footer">
    <p>&copy; 2021 KPI FPM </p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
    $("#form_button").click(function () {
        $('#sysStatus').html("Uploading file to S3. Please wait");
        $(".form-upload").hide();
        var formData = new FormData();
        formData.append('file', $("#upload-file")[0].files[0]);

        $.ajax({
            type: "POST",
            url: '/project',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            dataType: 'json',
            success: function (msg) {
                if (msg.error != '') {
                    $('#sysStatus').html(msg);
                    ajaxd()
                } else {
                    $('#sysStatus').html("Try uploading the file again.");
                }
            }
        });
    });

    function ajaxd() {
        $("#sysStatus").load("/project_load_check");
        $(".form-upload").show();
    }
</script>
</body>
</html>
